
        <h2><img class="avatar-small" src="<%= profileAvatar %>>"> <%= profileUsername %>  
            <% if(user && !isVisitorsProfile) { 
                if(isFollowing) { %>
                    <form class="ml-2 d-inline" action="/removeFollow/<%= profileUsername %>" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-danger btn-sm">Unfollow <i class="fas fa-user-times"></i></button>
                    </form>
                <% } else { %>
                    <form class="ml-2 d-inline" action="/addFollow/<%= profileUsername %>" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-primary btn-sm">Follow <i class="fas fa-user-plus"></i></button>
                    </form>
                <%}
            } %>
        </h2>
    
        <div class="profile-nav nav nav-tabs pt-2 mb-4">
        <a href="/profile/<%= profileUsername %>" class="profile-nav-link nav-item nav-link <%= currentPage=='posts'?'active':'' %>">Posts: <%= counts.postCount %></a>
        <a href="/profile/<%= profileUsername %>/followers" class="profile-nav-link nav-item nav-link <%= currentPage=='followers'?'active':'' %>">Followers: <%= counts.followerCount %></a>
        <a href="/profile/<%= profileUsername %>/following" class="profile-nav-link nav-item nav-link <%= currentPage=='following'?'active':'' %>">Following: <%= counts.followingCount %></a>
        </div>