<%- include('includes/header') %>
<!-- header ends here -->

<div class="container py-md-5 container--narrow">

    <%- include('includes/flash') %>

    <a class="small font-weight-bold" href="/post/<%= post._id %>">&laquo; Back to Post</a>

    <form class="mt-3" action="/post/<%= post._id %>/edit" method="POST">
        <div class="form-group">
            <label for="post-title" class="text-muted mb-1"><small>Title</small></label>
            <input required name="title" value="<%= post.title %>" id="post-title" class="form-control form-control-lg form-control-title" type="text" placeholder="" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="post-body" class="text-muted mb-1"><small>Body Content</small></label>
            <textarea required name="body" id="post-body" class="body-content tall-textarea form-control" type="text"><%= post.body %></textarea>
        </div>
        
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-primary">Update Post</button>
    </form>
</div>
<%- include('includes/footer') %>

