
        <%- include('includes/header') %>
        <!-- header ends here -->
        
        <div class="container py-md-5 container--narrow">

            <%- include('includes/flash') %>

            <% if(posts.length) { %>
                <h2 class="text-center mb-4">The latest from those you follow</h2>
                <div class="list-group">
                    <% posts.forEach(function(post){ %>
                        <a href="/post/<%= post._id %>" class="list-group-item list-group-item-action">
                            <img class="avatar-tiny" src="<%= post.author.avatar %>">
                            <strong><%= post.title %></strong> <span class="text-muted small">by <%= post.author.username %>on <%= post.createdDate.getMonth()+1 %>/<%= post.createdDate.getDate() %>/<%= post.createdDate.getFullYear() %></span>
                        </a>
                    <% }) %>        
                </div>
            <% } else { %>
                <div class="text-center">
                    <h2>Hello <strong><%= user.username %></strong>, your feed is empty.</h2>
                    <p class="lead text-muted">Your feed displays the latest posts from the people you follow. If you don&rsquo;t have any friends to follow that&rsquo;s okay; you can use the &ldquo;Search&rdquo; feature in the top menu bar to find content written by people with similar interests and then follow them.</p>
                </div> 
            <% } %> 
        </div>
        <%- include('includes/footer') %>