
    <%- include('includes/header') %>
    <!-- header ends here -->
    
    <div class="container py-md-5 container--narrow">

        <%- include('includes/flash') %>

        <div class="d-flex justify-content-between">
        <h2><%= post.title  %></h2>
        <% console.log(post) %>
        <% if(post.isVisitorOwner){ %>
            <span class="pt-2">
                <a href="/post/<%= post._id %>/edit" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
                <form class="delete-post-form d-inline" action="/post/<%= post._id %>/delete" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
                </form>
            </span>
        <% } %>
        </div>
        
        <p class="text-muted small mb-4">
        <a href="/profile/<%= post.author.username %>"><img class="avatar-tiny" src="<%= post.author.avatar %>"></a>
        Posted by <a href="/profile/<%= post.author.username %>"><%= post.author.username %></a> on <%= post.createdDate.getMonth()+1 %>/<%= post.createdDate.getDate() %>/<%= post.createdDate.getFullYear() %></p>

        <div class="body-content">
            <%- filterUserHTML(post.body) %>
        </div>

    </div>
    
    <!-- footer begins -->
    <%- include('includes/footer') %>